/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  nav ul li {
    margin-right: 30px; }
    nav ul li a {
      display: block;
      padding: 5px;
      font-size: 14px;
      color: #fff; }
      nav ul li a.current::after {
        content: " ";
        display: block;
        margin-top: 4px;
        height: 1px;
        background-color: #fff; }

.mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FF7A3C;
  z-index: 2;
  padding: 20px; }

body {
  font-family: 'Archivo', sans-serif;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

.container {
  max-width: 980px;
  margin: 0 auto; }
  @media only screen and (max-width: 800px) {
    .container {
      margin-left: 20px;
      margin-right: 20px; } }

h1 {
  font-size: 64px;
  line-height: 1.1; }

h2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.1;
  color: #3D3B34;
  margin-top: 40px; }
  h2 span {
    color: #AFCADA; }

h1,
h2,
p {
  margin-bottom: 30px; }

.title-wrapper {
  position: relative; }
  .title-wrapper h2 {
    margin-left: 20px; }
  .title-wrapper small {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #FF7A3C; }

svg {
  width: 16px;
  height: 16px; }

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  max-height: 800px; }
  .banner__content {
    z-index: 2; }
  .banner__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat; }
  .banner .title-wrapper small {
    left: -30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px; }
  .banner h1,
  .banner p {
    margin-bottom: 30px;
    color: #ffffff; }
  .banner p {
    font-size: 20px; }
  .banner__nav {
    position: absolute;
    bottom: 0; }
    .banner__nav--left {
      left: 0; }
    .banner__nav--right {
      right: 0; }

.header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0; }
  .header__logo {
    float: left;
    margin-top: 40px;
    margin-left: 40px; }
    .header__logo svg {
      height: 64px;
      width: 64px;
      color: #AFCADA; }
  .header nav {
    margin-top: 20px;
    float: right;
    margin-right: 100px; }
    @media only screen and (max-width: 800px) {
      .header nav {
        display: none; } }

.button {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  border: none;
  transition: all .2s; }
  .button--primary {
    background-color: #FF7A3C;
    color: #fff; }
    .button--primary:hover {
      background-color: #AFCADA; }
  .button--secondary {
    background-color: #AFCADA; }
    .button--secondary:hover {
      background-color: #FF7A3C; }
