.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    max-height: 800px;

    &__content {
        z-index: 2;
    }

    &__img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title-wrapper {
        small {
            left: -30px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 400;
            font-size: 12px;
        }
    }
    
    h1,
    p {
        margin-bottom: 30px;
        color: #ffffff;
    }

    p {
        font-size: 20px;

    }

    &__nav {
        position: absolute;
        bottom: 0;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }
}