.button {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    border: none;
    transition: all .2s;

    &--primary {
        background-color: $color-primary;
        color: #fff;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &--secondary {
        background-color: $color-secondary;

        &:hover {
            background-color: $color-primary;
        }
    }
}