.header {
    position: absolute;
    z-index: 2;

    left: 0;
    right: 0;

    &__logo {
        float: left;
        margin-top: 40px;
        margin-left: 40px;

        svg {
            height: 64px;
            width: 64px;
            color: $color-secondary;
        }
    }

    nav {
        margin-top: 20px;
        float: right;
        margin-right: 100px;

        @media only screen and (max-width: 800px) {
            display: none
        }
    }
}