nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        li {
            margin-right: 30px;
            
            a {
                display: block;
                padding: 5px;
                font-size: 14px;
                color: #fff;

                &.current {
                    &::after {
                        content: " ";
                        display: block;
                        margin-top: 4px;
                        height: 1px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.mobile-nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-primary;
    z-index: 2;
    padding: 20px;
}