body {
    font-family: 'Archivo', sans-serif;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 980px;
    margin: 0 auto;

    @media only screen and (max-width: 800px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

h1 {
    font-size: 64px;
    line-height: 1.1;
}

h2 {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.1;
    color: #3D3B34;
    margin-top: 40px;

    span {
        color: $color-secondary;
    }
}

h1,
h2,
p {
    margin-bottom: 30px;
}

.title-wrapper {
    position: relative;

    h2 {
        margin-left: 20px;
    }

    small {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 0;
        transform:  translateX(-50%) translateY(-50%) rotate(-90deg);


        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        color: $color-primary;
    }
}

svg {
    width: 16px;
    height: 16px;
}